<!DOCTYPE html>
<html>
<head>
    <title>ResumeIQ</title>
</head>
<body>
    <h1>ResumeIQ</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="role">
            <option value="backend">Backend</option>
            <option value="frontend">Frontend</option>
            <option value="data">Data</option>
        </select>
        <br><br>
        <input type="file" name="resume" required>
        <br><br>
        <button type="submit">Analyze</button>
    </form>
</body>
</html>
